*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.material-icons
{
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}
body
{
    background-color:#020508;

}
section
{
    display:flex;
    justify-content: center;
    align-items: center;
    max-height: 120vh;
    width: 100%;
    padding: 5%;
}
.container 
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*Video Player Styling */
.container #video_player
{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;

}
.container #video_player #main-video
{
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 30px;


}

.container #video_player .controls
{
    position:absolute;
    bottom:0;
    left:0;
    height: 50px;
    width: 100%;
    background: rgb(0 0 0/ 70%);
    z-index: 0;
    transform: translateY(180px);
    transition: 0.3s;


}

.container #video_player .controls.active{
    transform: translateY(0);
}

#video_player .controls .progress-area
{
    width: 100%;
    height: 5px;
    margin: auto;
    background: #f0f0f0;
    cursor: pointer;


}
.controls  .progress-area .progress-bar
{
    position: relative;
    width: 70%;
    background: rgb(192, 197, 255);
    height: inherit;
    cursor: pointer;
}
.controls  .progress-area .progress-bar::before
{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(192, 197, 255);

}
.controls .controls-list
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:nowrap;
    width:97%;
    height: 46px;
    margin: 0 auto;

}
.controls .controls-list .controls-left,
.controls .controls-list .controls-right
{
display:flex;
justify-content: center;
align-items: center;

}

.controls .controls-left .timer
{

display: inline-block;
font-size: 13px;
white-space: nowrap;
color: #f0f0f0;
margin-left: 5px;
text-align: center;


}

.controls .icon
{
display: inline-flex;
justify-content: center;
align-items: center;
text-align: center;
color: #f0f0f0;
margin-left: 8px;
margin-right: 5px;
}

.controls .icon .material-icons
{
    font-size: 26px;
    color:#f0f0f0;
    cursor: pointer;
}

/*Move video ahead/behind*/

.controls .icon .material-icons.fast-rewind:active
{
    transition: 0.1s;
    transform: rotate(-45deg);
}
.controls .icon .material-icons.fast-forward:active
{
    transition: 0.1s;
    transform: rotate(45deg);
}

/*Volume change*/
.controls .icon .volume_range
{
    -webkit-appearance: none;
    appearance: none;
    width: 0px;
    height: 3px;
    background: #f0f0f0;
    color:#f0f0f0;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.4s;

}
.controls .icon .volume_range::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    width:12px;
    height:12px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #f0f0f0;
    color:#f0f0f0;
    opacity: 0;
    transition: 0.3s;


}
.controls .icon:hover .volume_range
{
    width: 60px;
    display: inline-block;
}
.controls .icon:hover .volume_range::-webkit-slider-thumb
{
    opacity: 1;
    pointer-events: auto;
    transition: 0.5s;
}

/*Settings*/
.controls-right .icon .material-icons.settingsBtn
{
    font-size: 24px;
    transition: 0.3s;

}
.controls-right .icon .settingsBtn.active
{
    transform:rotate(45deg);
}
#video_player #settings
{
    position: absolute;
    right: 25px;
    bottom: 62px;
  
    background: rgb(0 0 0 /80%);
    width: 200px;
    height: 250px;
    color: #f0f0f0;
    overflow-y: scroll;
    z-index: 0;
    border-radius: 10px;
    display: none;
}

#video_player #settings.active
{
    display: block;

}
#video_player #settings .playback span
{
    font-size: 14px;
    font-weight:300;
    padding: 15px 30px;
    display:block;
    border-bottom: 1px solid rgb(83 83 83 /90%);
    
}
#video_player #settings .playback ul
{
    position: relative;
}
#video_player #settings .playback ul li
{
    position: relative;
    width: 100%;
    cursor: pointer;
    text-align: left;
    padding: 10px 33px;
    display: block;
    font-size: 14px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
#video_player #settings .playback ul li:hover
{
    background: rgba(28, 28, 28, 0.7);
}
#video_player #settings .playback ul li.active::before
{
    content: '\e5ca';
    font-family: "Material Icons";
    position: absolute;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 10px;
    font-size: 18px;

}


#video_player #settings::-webkit-scrollbar
{
    width: 8px;
    background: transparent;
    
}
#video_player #settings::-webkit-scrollbar-thumb
{
    height: 80px;
    border: 2px solid transparent;
    background: rgba(45, 45, 45, 0.9) ;
    border-radius: 20px;

}


/*Navigation*/
section .navigation ul{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    display: grid;
    gap: 50px;
    justify-content:center;
    align-items: center;
    padding-bottom: 80px;
   


}
section .navigation ul li{
    list-style: none;
    cursor: pointer;
    border-radius: 4px; 
    border: #f0f0f0;
    padding: 10px;
    border: 1px, solid, white;
    opacity: 1;
    transition: 2s;
}
section .navigation ul li:hover{
    opacity: 1;
}

section .navigation ul li img{
    border-radius: 10px; 
    transition: .9s;
    
}

/*Title*/
.caption{
    color: #f0f0f0;
    position: absolute;
    left: 1px;
    z-index: 3;
}

@media (min-width: 480px) {
    section .navigation ul{
        bottom: -800px;
        grid-template-columns: repeat(2, 1fr);
  
    }
    section .navigation ul li img{
        width: 18vh;
        height: 10vh;

    }
    section .navigation li img:hover{
        width: 20vh;
        height: 12vh;
    
    
    } 
    .caption{
        top: 270px;
        font-size: 20px;

    }


}
@media (min-width: 760px) {
    section .navigation ul{
        bottom: -720px;
        grid-template-columns: repeat(3, 1fr);
  
    }
    section .navigation ul li img{
        width: 20vh;
        height: 13vh;

    }
    section .navigation li img:hover{
        width: 22vh;
        height: 14vh;
    
    
    } 
    .caption{
        top: 440px;
        font-size: 22px;

    }


}
@media (min-width: 1280px) {
    section .navigation ul{
        bottom: -550px;
        grid-template-columns: repeat(5, 1fr);
  
    }
    section .navigation ul li img{
        width: 25vh;
        height: 13vh;
    }
    section .navigation li img:hover{
        width: 28vh;
        height: 16vh;

    
    
    } 
    .caption{
        top: 870px;
        font-size: 30px;

    }

}
  

